@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.fullscreen-video {
  font-family: "GmarketSansMedium";
}
.poster {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.img {
  border: solid 5px;
  border-color: black;
  width: 350px;
  height: 350px;
  border-radius: 10%;
}
.resultContent {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#heroName {
  font-size: 40px;
}
#resultMBTI {
  font-size: 25px;
}
#explain {
  width: 70%; /*%로 하니 화면 비율에 따라 자동으로 글자 줄 바꿈을 한다.*/
  text-align: justify;
  word-break: break-all;
  font-size: 25px;
}
#best {
  font-size: 30px;
}
#bestMatch {
  font-size: 20px;
}
#worst {
  font-size: 30px;
}
#worstMatch {
  font-size: 20px;
}
.match {
  display: flex;
}
.match > div:not(:last-child) {
  margin-right: 250px;
}
.match img {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  border: solid 5px;
  border-color: black;
  cursor: pointer;
}

.fullscreen-video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bgVideo {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.3;
}
#restart {
  margin-bottom: 10px;
}

/* 넓이가 768px이하일 때 적용 */
@media screen and (max-width: 768px) {
  .img {
    width: 255px;
    height: 255px;
    /* 다른 스타일 변경 내용 추가 */
  }
  #heroName {
    font-size: 25px;
  }
  #resultMBTI {
    font-size: 15px;
  }
  #explain {
    font-size: 20px;
  }
  #best {
    font-size: 20px;
  }
  #bestMatch {
    font-size: 15px;
  }
  #worst {
    font-size: 20px;
  }
  #worstMatch {
    font-size: 15px;
  }

  .match {
    flex-direction: column; /*열로 배치*/
    align-items: center; /*가로 중앙에 배치*/
    justify-content: center; /*세로 중앙에 배치*/
  }

  .match > div:not(:last-child) {
    margin: 20px; /* 각 요소 사이의 간격 설정 */
    text-align: center; /* 내부 요소들 가운데 정렬 */
  }

  .match img {
    width: 200px;
    height: 200px;
    /* 다른 스타일 변경 내용 추가 */
  }
  .bgVideo {
    width: 100%;
    height: 100%;
    object-fit: cover; /*영상 비율을 유지하며 화면 비율에 맞춤*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.3;
  }
}
