@font-face {
  font-family: "IAMAPLAYER";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* footer */
footer {
  font-family: "IAMAPLAYER";
  width: 100%;
  height: 60px;
  position: relative;
  /* position: absolute; */
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  bottom: 0;
}
p {
  line-height: 60px;
}
