:root {
  --nav-height-lg: 60px;
  --nav-height-sm: 30px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.test_name {
  margin-top: 15px;
  text-align: center;
}

/* intro.css */
#wrap {
  flex: 1; /* 화면 비율에 따라 유연하게 늘어나거나 줄어들게 */
  margin-top: 10px;
  min-height: calc(100%-30px);
  position: relative;
}

.i_left {
  width: 50vw;
  height: 73vh;
  float: left;
}

.i_right {
  width: 50vw;
}

#wrap .intro {
  position: relative;
  display: flex;
  margin-top: 10px;
  width: 50%;
  padding: 5vh 5vh;
}

.poster {
  position: absolute;
  /* width: 50vh; */
  width: 100%;
  height: 100%;
  margin: auto;
  padding-right: 5vh;
}

#startBtn {
  /* position: absolute; */
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 70px;
  margin: auto;
  padding-left: 5vh;
  letter-spacing: 2px;
}
