html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  animation: change 0.5s ease forwards;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.progress {
  margin-bottom: 5vh;
}
#wrap {
  flex: 1; /* 화면 비율에 따라 유연하게 늘어나거나 줄어들게 */
  min-height: calc(100%-30px);
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** 질문  */
.question {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5vb;
  width: 100%;
  height: 50vh;
}

/** 답  */
.answer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  margin-top: 7vh;
}
.answer1,
.answer2 {
  background-color: beige;
  border-radius: 10%;
  width: 30vw;
  font-size: 2vb;
}
/* 페이지 변환 애니메이션 */

@keyframes change {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0%);
  }
}

.question_img {
  width: 25vw;
  margin-bottom: 5vh;
}
